@if (sortedPeers().length === 0) {
  <p class="empty-message">No connected peers.</p>
} @else {
  <div class="peer-header">
    <span>Address</span>
    <span class="peer-col-right">Down</span>
    <span class="peer-col-right">Up</span>
  </div>
  <div class="peer-list">
    @for (peer of sortedPeers(); track peerKey(peer)) {
      <div class="peer-row">
        <span class="peer-address">
          {{ peer.address }}:{{ peer.port }}
          <i
            class="pi peer-flag"
            [class]="peer.peerChoking ? 'pi-lock' : 'pi-lock-open'"
            [class.active]="!peer.peerChoking"
            [title]="'They ' + (peer.peerChoking ? 'choke us' : 'unchoked us')"
            aria-hidden="true"
          ></i>
          <i
            class="pi peer-flag"
            [class]="peer.amChoking ? 'pi-lock' : 'pi-lock-open'"
            [class.active]="!peer.amChoking"
            [title]="'We ' + (peer.amChoking ? 'choke them' : 'unchoked them')"
            aria-hidden="true"
          ></i>
        </span>
        <span
          class="peer-rate tabular-nums"
          [class.idle]="peer.downloadRateBytesPerSec === 0"
          [pTooltip]="peer.downloadRateWindows | formatRateWindows"
          tooltipPosition="top"
        >
          @if (peer.downloadRateBytesPerSec > 0) {
            {{ peer.downloadRateBytesPerSec | formatRate }}
          } @else {
            &mdash;
          }
        </span>
        <span
          class="peer-rate tabular-nums"
          [class.idle]="peer.uploadRateBytesPerSec === 0"
          [pTooltip]="peer.uploadRateWindows | formatRateWindows"
          tooltipPosition="top"
        >
          @if (peer.uploadRateBytesPerSec > 0) {
            {{ peer.uploadRateBytesPerSec | formatRate }}
          } @else {
            &mdash;
          }
        </span>
      </div>
    }
  </div>
}
