@if (torrent(); as torrent) {
  <a routerLink="/" class="close-link">
    <i class="pi pi-times"></i>
    Close
  </a>

  <header class="detail-header">
    <h1 class="heading-font">{{ torrent.name }}</h1>
    <div class="detail-meta">
      <app-status-indicator [icon]="stateDisplay().icon" [label]="stateDisplay().label" [tone]="stateDisplay().tone" />
      @if (torrent.usesDht) {
        <app-status-indicator icon="pi-share-alt" label="DHT" tone="active" />
      } @else {
        <span class="tracker-count">{{ torrent.trackerCount }} tracker(s)</span>
        @if (torrent.dhtBackstopActive) {
          <app-status-indicator icon="pi-share-alt" label="DHT backstop" tone="active" />
        }
      }
      @if (torrent.lastError) {
        <span class="error-detail">{{ torrent.lastError }}</span>
      }
    </div>
    <p-progressBar [value]="progressPercent()" />
    <div class="byte-progress tabular-nums">
      {{ torrent.bytesDownloaded | formatBytes }} / {{ torrent.totalLength | formatBytes }}
      &mdash; {{ torrent.connectedPeers }} peer(s)
      &mdash; {{ bytesRemaining() | formatEta : torrent.downloadRateBytesPerSec }}
    </div>
  </header>

  <p-tabs value="pieces" [lazy]="true">
    <p-tablist>
      <p-tab value="pieces">Piece map</p-tab>
      <p-tab value="files">Files</p-tab>
      <p-tab value="peers">Peers</p-tab>
      <p-tab value="trackers">Trackers</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="pieces">
        <app-piece-map [infoHash]="infoHash()" />
      </p-tabpanel>
      <p-tabpanel value="files">
        <app-files-tab [infoHash]="infoHash()" />
      </p-tabpanel>
      <p-tabpanel value="peers">
        <app-peers-tab [infoHash]="infoHash()" />
      </p-tabpanel>
      <p-tabpanel value="trackers">
        <app-trackers-tab [infoHash]="infoHash()" />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
} @else {
  <p>Loading&hellip;</p>
}
