@if (files().length === 0) {
  <p class="empty-message">No files yet.</p>
} @else {
  <ul class="file-list">
    @for (file of files(); track file.pathSegments.join('/')) {
      <li class="file-card">
        <div class="file-path">{{ file.pathSegments.join('/') }}</div>
        <p-progressBar [value]="file.length > 0 ? (file.bytesDownloaded / file.length) * 100 : 100" />
        <div class="byte-progress tabular-nums">
          {{ file.bytesDownloaded | formatBytes }} / {{ file.length | formatBytes }}
        </div>
      </li>
    }
  </ul>
}
